/* Three image containers (use 25% for four, and 50% for two, etc) */
.column-small {
 float: left;
 width: 25%;
 padding: 5px;
}

.column-large {
 float: left;
 width: 75%;
 padding: 5px;
}

/* Clear floats after image containers */
.row::after {
 content: "";
 clear: both;
 display: table;
}
